<!-- <h1 class="mt-5">This is contact page</h1> -->
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class=" mt-5 " id="mapping"  style="width:80%;height:80%;"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1036.5112466622697!2d92.90256620024026!3d20.153036036173877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smm!4v1675417632442!5m2!1sen!2smm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
        <div class="col-6 bg-black d-flex justify-content-center align-items-center">
            <div class="text-light mt-5"><div id="Address">
                <table>
                    <tr>
                        <th>Email</th>
                        <td><a href="mailto:lavendershop@gmail.co">lavendershop@gmail.com</a></td>
                    </tr>
                    <tr>
                        <th>PhoneNumber</th>
                        <td>+959421770000</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>Main Road,Sittwe</td>  
                    </tr>
                </table>
            </div>
        </div>
        <!-- <div class="contact">
            <h2>Leave a Review</h2>
            <form>
                <label for="name">Name</label>
                <input type="text" name="name" required>
                <label for="email">Email</label>
                <input type="email" name="email" required>
                <label for="comment">Comment</label>
                <textarea id="comment" cols="20" rows="2" required>Leave Review</textarea>
            </form>
        </div> -->
        </div>
    </div>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Rock+Salt&display=swap');
    label{
        display:block;
        width:120px;
        float:left;
        padding-left:10px;
        text-align:right;
    }
    input,textarea{
        display:block;
        margin-right:130px;
        padding-bottom:20px;
    }
    tr a{
        text-decoration:none;
    }
    table{
        border:2px unset silver;
        border-collapse:20px;
        
    }
    table,tr,td,th{
        min-width:100px;
    }
    td{
        padding-bottom:10px;
        text-align:left;
        padding-left:20px;
    }
    #mapping{
        border:2px outset goldenrod;
    }
    iframe{
        width:100% !important;
        height:100% !important;

    }
    th{
        text-align:left;
    }
</style>